body {
    padding-top: 20px;
    background-image: url("flowers.jpg");
    background-size: 100%;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 201, 253);
}

input[type=reset]{
    background-color: white;
    color: #be1616;
    border: 2px solid #be1616;
    padding: 16px 32px;
    border-radius: 15px;
    width: 210px;
}

input[type=reset]:hover {
    background-color: #be1616;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submit {
    background-color: white;
    color: #04AA6D;
    border: 2px solid #04AA6D;
    padding: 16px 32px;
    border-radius: 15px;
    width: 210px;
}

#submit:hover {
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input, textarea, select {
    width: 100%;
    border-radius: 7px;
    color: rgb(57, 9, 148);
    background-color: rgb(247, 234, 250);
}

form {
    margin: 0 auto;
    width: 450px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgb(68, 24, 150);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 201, 253);
    text-align: center;
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus, input[type=email]:focus, textarea:focus {
    color: rgb(57, 9, 148);
    background-color: rgb(214, 201, 253);
    border: 3px solid rgb(94, 72, 119);
}

.required:after {
    content:" *";
    color: red;
}

input[type=text], input[type=number], input[type=date], input[type=email] {
    height: 30px;
}

select {
    height: 38px;
}