<!-- <p>
    Sample {{ someText | uppercase}}
</p>

<p>
    Date {{ someDate | date:"longTime" | lowercase }}
    <br>
    My number is: {{ myValue | addValue:15}}
</p> -->

<router-outlet></router-outlet>