<div *ngFor="let note of notes">
    <mat-card >
        <mat-card-header>
            {{note.title}}
        </mat-card-header>
        <mat-card-content>
            {{note.description}}
        </mat-card-content>
    </mat-card>
</div>
