<h1>Add a new note</h1>

<label>Title</label>
<form>
    <mat-form-field>
        <input matInput name="inputNote" [(ngModel)]="title" placeholder="Enter the title for your note"/>
    </mat-form-field>
    <br>
    <label>Description</label>
</form>

<mat-form-field>
    <textarea matInput name="inputNote" [(ngModel)]="description" placeholder="Enter a description for your note"></textarea>
</mat-form-field>

<button mat-button>ADD</button>