<!-- <p [style.color]="titleColor">
    Title is: {{ title }}
</p>

<p>
    Note content is: {{ noteContent }}
</p>

<input type="text" [(ngModel)]="noteContent"/>

<button mat-icon-button (click) = 'modifyContent()'>
    <mat-icon>add</mat-icon>
</button>

<mat-form-field>
    <input matInput placeholder="Add Note">
</mat-form-field> -->

<mat-card class="add-note-card">
    <button mat-icon-button routerLink="add-note"><mat-icon>add</mat-icon></button>
</mat-card>